@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

h1 {
    margin-left: 32px;
    position: absolute;
    left: 10%;
    font-family: 'Jura', sans-serif;
    font: bolder;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    color: white;
    font-family: 'Kanit', sans-serif;
}

ul {
    list-style: none;
    display: flex;
}

nav {
    margin: 10px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    right: 10%;
}

header {
    display: flex;
}

li {
    margin-right: 32px;
}

hr {
    margin-top: 75px;
    border-color: red;
    border-radius: 999px;
    border-width: 3px   ;
    border-style: solid;
}